.applicationFormContainer {
  background-color: white;
  max-width: 500px;
  margin: 10px;
  border-radius: 8px;
  max-width: 100% !important;
}

/*titulo h3*/
.applicationFormContainer-tittle {
  padding: 20px 0px 0px 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

/*Form mobile*/
.form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 120px;
  justify-items: center;
  padding: 20px 28px 20px 20px;
}

.campo {
  margin-bottom: 8px;
  height: 40px;
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 16px !important;
  box-sizing: border-box;
  padding-left: 16px;
  border-radius: 5px;
  background: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.campo:focus {
  outline: none;
  border: 1px solid rgb(252, 4, 68);
}

.submit {
  background-color: rgb(252, 4, 68);
  color: white;
}

.fullwidth {
  grid-column: 1 / 3;
}

.mediowidth-left {
  grid-column: 1/2;
}

.mediowidth-right {
  grid-column: 2/3;
}

.submit {
  padding: 0;
  width: 100%;
}

/*Form desktop*/
@media (min-width: 600px) {
  .campo {
    height: 45px;
    font-size: 17px !important;
  }

  .applicationFormContainer {
    padding: 30px;
  }
}

.stepscontainer {
  max-width: 850px;
  background-color: white;
  padding: 14px 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .stepscontainer {
    width: 100%;
  }
}

/*TITULOS PARA MOBILE*/
.stepsmobiletittlecontainer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
@media (min-width: 700px) {
  .stepsmobiletittlecontainer {
    display: none;
  }
}

.stepmobiletittle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 5px;
  margin-left: 5px;
  display: none;
}

.showstepmobiletittle {
  display: block !important;
}

/*NUMEROS Y TITULOS*/

.stepsdesktopcontainer {
  display: flex;
}

@media (max-width: 700px) {
  .steptittle {
    display: none;
  }
}

.step {
  display: flex;
  margin: 0 5px;
}

.stepnumber {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.stepnumberactive {
  border: 1px solid rgb(252, 4, 68) !important;
  color: rgb(252, 4, 68) !important;
}

.stepnumbercomplete {
  background-color: rgb(252, 4, 68) !important;
  color: white !important;
  border: 1px solid rgb(252, 4, 68) !important;
}

.steptittle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.steptittleactive {
  color: rgb(252, 4, 68) !important;
}

.App {
  font-family: sans-serif;
}

.applicationForm {
  width: 100%;
  height: 100vh;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

@media (max-width: 700px) {
  .applicationForm {
    margin: 0 0 30px 0;
  }
}

.applicationFormContainer {
  padding-left: 0;
  padding-right: 0;
}
.applicationForm {
  width: 100% !important;
  height: 100vh !important;
  /* margin-left: 30% !important; */
  display: flex;
  flex-direction: column !important;
  /* justify-content: center; */
}
.Personal {
  color: #000000;
}

.form-mapa {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  title {
    font-family: "Dancing Script", "Quicksand", sans-serif;
  }
  text-align: center;
}
.applicationFormContainer-tittle {
  text-align: center;
}
.imput-img {
  display: inline-block !important;
  padding-left: 50px;
}
.css-cp8r97 {
  margin: 12px 0px 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: hsla(330, 63%, 64%, 0.17);
}
.normas {
  text-align: center;
}
.form-condiciones {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 10px; /* Espacio entre las celdas */
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
}
.h6-edit {
  position: relative;

  color: #040404;
}
p {
  text-align: center;
}
.cover-button {
  background-color: aqua;
}


.datosCargados {
  display: flex;
  justify-content: space-between; /* Espacio entre los contenedores de los pasos */
}

.pasoContainer {
  width: 30%; /* Ancho de cada contenedor de paso */
  margin-right: 10px; /* Espacio entre los contenedores de pasos */
  border: 1px solid #ccc; /* Añade un borde gris alrededor de cada contenedor */
  padding: 10px; /* Añade espacio interno para que el contenido no esté pegado al borde */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del contenedor */
}

ul.uldatosCargados{
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0;
}
h4.h4DatosCargado{
  margin-top: 0;
 color: rgb(252, 4, 68);
}
/* Upload */
.uploadPicturesWrapper div {
  justify-content: flex-start !important;
}

.uploadPictureContainer {
  width: 200px !important;
  height: auto !important;
  margin: 2% 5% !important;
  padding: 10px !important;
}

.uploadPictureContainer img {
  height: 200px !important;
}
