.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.tex-aling {
  margin: 0px 80px;
  margin-bottom: 15px !important;
}
.parrafo {
  margin: 15px 40%;
  color: rgb(21, 23, 28) !important;
  padding-top: 15px !important;
  white-space: nowrap;
}

.link-buton {
  text-decoration: none !important;
}
.iRCgEU {
  border-radius: 80px !important;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  min-width: 180px;
  outline: 0px;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  width: auto;
  background-color: rgb(252, 4, 68);
  color: rgb(248, 248, 249) !important;
  border-color: rgb(252, 4, 68);
  min-height: 50px;
  font-size: 15px;
}

/*boton2*/
.gDqqEM {
  border-radius: 80px !important;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  min-width: 180px;
  outline: 0px;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  width: auto;
  background-color: rgb(255, 255, 255);
  border-color: rgb(17, 17, 17) !important;
  color: rgb(32, 32, 32) !important;
  min-height: 50px;
  font-size: 15px;
}

.gDqqEM:hover {
  box-shadow: 0 0 5px rgb(252, 4, 68), 0 0 25px rgb(252, 4, 68),
    0 0 50px rgb(252, 4, 68), 0 0 100px rgb(252, 4, 68);
}

.iRCgEU-2 {
  border-radius: 80px !important;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  min-width: 180px;
  outline: 0px;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  width: auto;
  background-color: rgb(17, 17, 17);
  color: rgb(248, 248, 249) !important;
  border-color: rgb(17, 17, 17) !important;
  min-height: 50px;
  font-size: 15px;
}

.font-1 {
  vertical-align: inherit;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.botones-alineacion {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -ms-grid-row-align: center;
  filter: drop-shadow(rgba(32, 32, 32, 0.1) 0px 4px 15px);
  gap: 1rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 40px;
  grid-template-columns: repeat(5, 1fr);
}
.fondo-seccion {
  background-color: rgb(252, 4, 68);
  height: 400px;
  padding-top: 1px !important;
  border-radius: 0%;
}
.cta {
  margin: 50px 170px;
  margin-top: 100px !important;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

:root {
  --color-primary: #037fff;
  --color-secondary: #19202e;
  --color-background: #ffffff;
  --color-titulo: rgb(252, 4, 68);
}

img {
  max-width: 100%;
}

h1{
  color: #000000;
}
.title {
  text-align: center;
  margin: 25px 0;
  font-family: Ubuntu, "PT Sans", Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  
}

.title span {
  color: rgb(252, 4, 68);
}

.title img {
  width: 400px;
  margin: 25px 0;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.article-container {
  padding: 0 10px;
}

.article-container h2 {
  color: var(--color-titulo);
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  border-radius: 15px;
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.3);
  transition: transform 0.6s ease-in-out;
}

.img-container:hover {
  border-radius: 15px;
}

.article-body {
  margin-top: 20px;
  margin-left: 15px;
}

.article-container p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 25px;
}

.article-footer span {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 500;
}

.categories {
  margin: 2rem auto;
  text-align: center;
}

.btn-category {
  padding: 12px 25px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(252, 4, 68);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.4s cubic-bezier(1, -0, 0.6, 1.35);
}

.btn-category:hover {
  background-color: rgb(221, 132, 154);
}

.btn-category:last-child {
  margin-right: 0;
}

@media (max-width: 520px) {
  .title h1 {
    font-size: 40px;
  }
  s .title img {
    width: 250px;
  }

  .article-list {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .article-container {
    padding: 0 15px;
  }

  .article-body {
    margin-top: 10px;
    margin-left: 10px;
  }

  .article-container h2 {
    font-size: 18px;
  }

  .article-container p {
    font-size: 13px;
  }

  .article-footer span {
    font-size: 12px;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-category {
    margin: 5px;
  }
}
.filtroFondo {
  background-color: var(--color-background);
  color: #000000;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins";
}
